:root {
  --purple: hsl( 229, 100%, 66% );
  --dark-purple: hsl( 259, 98%, 18% );
  --grayish-dark-purple: hsla( 259, 98%, 18%, 25% );
  --yellow: hsl( 49, 100%, 46% );
  --edges-mobile: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: .625rem;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: var( --dark-purple );
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}

img {
  width: 100%;
}

/* Common Styles */
.container {
  max-width: 600px;
  margin: auto;
}

.section-heading-area {
  text-align: center;
  margin-bottom: 2.5rem;
}

.section-heading-area img {
  width: 50px;
  display: inline-block;
  margin-bottom: -.5rem;
}

.section-heading-area h2 {
  color: var( --purple );
}

.section-heading-area span {
  color: var( --dark-purple );
}

.project-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  box-shadow: 0px 10px 25px var( --grayish-dark-purple );
  border-radius: 16px;
}

/* Header Styles */
.header {
  height: 650px;
  padding: var( --edges-mobile ) var( --edges-mobile ) 7.6rem;
}

.header-container {
  position: relative;
  height: 100%;
  background: url( "../images/hero-img.svg" ) no-repeat;
  background-size: 375px;
  background-position: center;
  overflow: hidden;
}

.header-logo {
  width: 150px;
}

.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  color: var( --grayish-dark-purple );
}

.header-nav-link {
  padding: 1rem 0 1rem 1rem;
  text-align: right;
  transition: color 250ms, font-weight 250ms;
}

.header-nav-link:hover {
  color: var( --dark-purple );
  font-weight: 800;
}

.header-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX( -50% );
  width: 100%;
  text-align: center;
}

.header-content h1 {
  color: var( --purple );
}

.header-content span {
  color: var( --yellow );
}

.header-content p {
  max-width: 300px;
  margin: auto;
}

/* About Me */
.about-me {
  padding: 76px var( --edges-mobile );
}

.about-me-image-wrapper img {
  width: 100%;
  max-width: 335px;
  margin: auto;
  border-radius: 50%;
  display: block;
  margin-bottom: 7.5rem;
}

.about-me-description-area p {
  line-height: 1.7;
}

.about-me-description-1 {
  margin-bottom: 2.5rem;
}

/* My Work */
.my-work {
  padding: 7.6rem var( --edges-mobile );
}

.my-work .section-heading-area {
  margin-bottom: 5rem;
}

.featured-project {
  height: 350px;
}

.featured-project figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var( --yellow );
}

.project {
  height: 150px;
}

.project:last-of-type {
  margin-bottom: 0;
}

.project figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var( --yellow );
}

/* Footer */
.footer {
  padding: 7.6rem var( --edges-mobile );
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
}

.footer-list a {
  font-size: 3.6rem;
}

@media screen and ( min-width: 768px ) {
  .project-card {
    margin-bottom: 7rem;
  }

  .section-heading-area {
    margin-bottom: 4rem;
  }

  .section-heading-area img {
    width: 75px;
  }

  .section-heading-area h2 {
    font-size: 4rem;
  }

  .header,
  .about-me,
  .my-work,
  .footer {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .header {
    padding-top: 5rem;
  }

  .header-container {
    max-width: 768px;
    background-position: 115% 130%;
  }

  .header-content {
    left: 0;
    transform: translateX(0);
    width: initial;
    text-align: left;
    bottom: unset;
    top: 40%;
  }

  .header-content h1 {
    font-size: 4rem;
    line-height: 50px;
    margin-bottom: 1.5rem;
  }

  .header-content span {
    display: block;
  }

  .header-content p {
    font-size: 2.2rem;
  }

  .footer-list a {
    font-size: 5rem;
  }
}